<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="configs.Listeners"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="C:/Users/Latifa/IdeaProjects/selenium-third-project">
        <classes>
            <class name="tests.ValidatePageTitle" />
        </classes>
    </test>
</suite>